*-secret.yaml
secret.yaml
secrets.yaml
!*-sealed-secret.yaml
!sealed-secret.yaml

master-key.yaml
sealed-secrets-key*.yaml

kubeconfig
*.kubeconfig
.kube/
*.crt
*.key
*.pem
ca.crt
ca.crt.b64
# .env файли
.env
.env.*
!.env.example


charts/
*.tgz
.helm/

*.rendered.yaml


*.tfstate
*.tfstate.*
.terraform/
*.tfvars
!example.tfvars


.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*~


*.log
tmp/
